@import '../../scss/config';
html,body{
    width: 100%;
    height: 100%;
}
.preloadingPage{
    width: 100%;
    height: 100vh;
    position: relative;
    &__container{
        width: spacing(10.5);
        height: spacing(10.5);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    &__box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        transform: rotate(45deg);
    }
    &__item{
        width: spacing(5);
        height:spacing(5);
        background: $primary;
        margin-bottom: spacing(0.5);
    }
    // Animation
    &__item--1,&__item--2,&__item--3,&__item--4{
        animation-name: animate1;
        animation-delay: 0.1s;
        animation-duration: 1.05s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
        animation-fill-mode:none;
        animation-timing-function: ease-in-out;
    }
    // End of animation
}
@keyframes #{animate1}{
    from{
        background: #dfdf77;
        left: 0;
        transform: rotate(0deg);
    }
    to{
        background: $primary;
        left: spacing(10);
        transform: rotate(360deg);
    }
}