// Theme
//-----COLORS BACKGROUND------
$primary:#4968ee;
$secondary: #1aa9c2;
$paper: #ffffff;
$light: #f1f1f1;
$darkGrey: #353535;
$grey: #989586;
$lightGrey:#dadccb;
$pink:#ec5252;
$fade:#fbfbf8;
$dark:#222222;
$darkBlue:#0a2029;

//-----COLORS TEXT------
$textPrimary: #4968ee;
$textSecondary: #1aa9c2;
$textWhite: #ffffff;
$textGrey: #5f5f5f;
$textDarkGrey: #73726c;
$textPink:#ec5252;
$textLightGrey: #d6d6d6;
$textBlack:#000000;

//-------FONT SIZE-------
$body1: 10px;
$body2: 12px;
$subtitle: 14px;
$h6: 16px;
$h5: 18px;
$h4: 20px;
$h3: 30px;
$h2: 40px;
$h1: 44px;

//------FONT WEIGHT--------
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//----------SPACING---------
$spacing: 10px;

// Mixin
// Tao Mixin: Text,button, table, input
@mixin Text($color, $fs, $fw, $lh) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
}
@mixin Button($bg, $b, $br, $pad){
    background-color: $bg;
    border:$b;
    border-radius: $br;
    padding: $pad;
}
@mixin Input($w,$h,$lh,$p){
    width:$w;
    height:$h;
    line-height:$lh;
    padding: $p;
}
@mixin Position($translate,$top,$left) {
    transform: $translate;
    top: $top;
    left: $left;
    
}
@mixin PositionCenter{
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
}
@mixin Flex($flex,$jContent,$alignItem,$flexDirection){
    display: $flex;
    justify-content: $jContent;
    align-items: $alignItem;
    flex-direction: $flexDirection;
}
@mixin Size($w,$h){
    width: $w;
    height: $h;
}
@mixin Background($url,$repeat,$size,$position){
    background-image: $url;
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position $position;
}
// End of Mixin

// Function
@function spacing($numb){
    @return $numb*$spacing;
}
// End of function