@import "../../scss/config";
.getInTouchButton {
  width: spacing(23);
  cursor: pointer;
  &__container {
    width: spacing(23);
    height: spacing(6);
    background: $primary;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  &__link {
    text-decoration: none;
    @include Text($textWhite, $h6, $fwRegular, spacing(6));
  }
  &:hover &__link {
    text-decoration: none;
    color: $textBlack;
  }
  &:hover &__container {
    background: transparent;
    border: spacing(0.2) solid $dark;
    overflow: hidden;
    box-shadow: 4px 2px 7px -2px rgba(0, 0, 0, 0.75);
  }
}
