.about-our-partners {
  @include ComponentPadding(100px);
  box-sizing: border-box;

  img {
    opacity: 0.5;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }

  a {
    border: 1px solid #e1e1e1;
    display: block;
    max-width: 270px;
    margin: auto;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:before {
      content: "";
      border: 1px solid #e1e1e1;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      border-color: #151515;

      &:before {
        transform: scale(0.94, 0.9);
        border-color: #151515;
      }

      img {
        border-color: #151515;
        transform: scale(0.9);
        opacity: 1;
      }
    }
  }

  .MuiContainer-root {
    padding-top: 30px;
  }

  .MuiGrid-item {
    margin-bottom: 30px;
  }

  @include MediaQuery($sm) {
    .MuiGrid-container {
      justify-content: center;
    }
  }
}
