* {
  box-sizing: border-box;
}

.footer {
  background-color: transparent;
  color: transparent;
  padding: 0;
  text-align: left;

  h5 {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.075em;

    @include MediaQuery($md) {
      text-align: center;
    }
  }

  a,
  p {
    color: #9c9999;
    font-weight: 400;
    text-decoration: none;
  }

  &__bottom {
    background: #363636;
    padding-top: 28px;
    padding-bottom: 28px;

    &__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @include MediaQuery($sm) {
        justify-content: center;
      }
    }
  }

  &__top {
    background: #404040;
    padding-top: 65px;
    padding-bottom: 65px;

    &__content {
      @include MediaQuery($sm) {
        .MuiGrid-justify-xs-space-between {
          justify-content: center;
        }
      }

      &__right {
        &__wrapper {
          margin-top: 24px;

          &__item {
            position: relative;
            overflow: hidden;

            &::before {
              content: "";
              border: 1px solid #ffffff;
              position: absolute;
              top: 50%;
              left: 50%;
              height: 85%;
              width: 85%;
              opacity: 1;
              z-index: 1;
              transform: translate(-50%, -50%);
              @include TransitionValue();
            }

            @media screen and (min-width: 1280px) {
              &::before {
                height: 70%;
                width: 70%;
                opacity: 0;
              }

              &:hover::before {
                height: 85%;
                width: 85%;
                opacity: 1;
              }
            }

            &:hover::after {
              opacity: 1;
            }

            &::after {
              content: "";
              background: rgba(25, 24, 24, 0.45);
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 0;
              @include TransitionValue();

              &:hover {
                opacity: 1;
              }

              @include MediaQuery(1279px) {
                opacity: 1;
              }
            }

            &:hover svg {
              opacity: 1;
              @include TransitionValue();
            }

            &:hover img {
              transform: scale(1);
            }

            img {
              width: 100%;
              @include TransitionValue();

              @media screen and (min-width: 1280px) {
                transform: scale(1.1);
              }
            }

            svg {
              top: 50%;
              left: 50%;
              color: #ffffff;
              position: absolute;
              font-size: 56px;
              transform: translate(-50%, -50%);
              box-sizing: content-box;
              opacity: 0;
              cursor: pointer;
              z-index: 1;

              @include MediaQuery(1279px) {
                opacity: 1;
              }

              &:hover {
                color: #9c9999;
              }
            }
          }
        }
      }

      &__center {
        & > p {
          margin-top: 17px;
        }

        &__social {
          display: flex;
          margin-top: 30px;

          @include MediaQuery($sm) {
            justify-content: center;
          }

          p {
            margin-bottom: 30px;
            padding-right: 8px;
            color: #ffffff;
          }

          a {
            padding: 0 8px;
            color: #ffffff;
            @include TransitionValue();

            &:hover {
              color: #72d5a5;
            }
          }
        }

        p {
          font-size: 14px;
          line-height: 1.71429;
        }

        @include MediaQuery($md) {
          p {
            text-align: center;
          }
        }

        input {
          padding: 17px 22px;
          background: #565656;
          text-align: center;
          width: 100%;
          border-color: transparent;
          outline: none;

          &::placeholder {
            color: #ffffff;
          }

          &:focus::placeholder {
            color: transparent;
          }
        }

        button {
          color: #ffffff;
          background-color: #3356ef;
          width: 100%;
          padding: 17px 33px 15px;
          font-size: 14px;
          line-height: 1.71;
          border: 2px solid #3356ef;
          font-weight: 600;
          letter-spacing: 0.09em;
          text-transform: uppercase;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: center;
          cursor: pointer;
          vertical-align: middle;
          margin-top: 10px;
          outline: none;
          @include TransitionValue();

          &:hover {
            color: #4968ee;
            border-color: #ffffff;
            background: #ffffff;
          }
        }
      }

      &__left {
        & > p {
          margin-top: 22px;
        }

        &__bottom {
          margin-top: 22px;
          padding-top: 32px;
          border-top: 1px solid #d7d7d7;

          &__contact {
            display: flex;

            &__icon {
              color: #9c9999;
              margin-bottom: 10px;
              margin-left: 12px;
            }

            a,
            p {
              color: #ffffff;
              font-size: 16px;
              line-height: 1.34;
              letter-spacing: 0.025em;
              text-align: left;
              margin-bottom: 10px;
              margin-left: 12px;
              margin-top: 0;
              @include TransitionValue();
            }

            a:hover {
              color: #72d5a5;
              text-decoration: none;
            }
          }

          ul {
            padding: 0;
            width: 274px;

            @include MediaQuery($sm) {
              width: fit-content;
              margin: auto;
            }
          }
        }

        p {
          font-size: 14px;
          line-height: 1.71429;
          letter-spacing: 0.025em;

          @media screen and (max-width: 767px) {
            text-align: center;
          }
        }

        img {
          display: flex;

          @include MediaQuery($md) {
            margin: auto;
          }
        }
      }
    }
  }
}
