.home-upcoming-event {
  margin-top: 100px;
  margin-bottom: 100px;

  &__wrapper {
    & > a {
      display: block;
      overflow: hidden;
    }

    &__content {
      width: 90%;
      text-align: center;
      bottom: 0;
      left: 0;
      position: relative;
      text-align: center;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: -80px;
      padding: 20px 15px;
      background: #ffffff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.27);
    }

    &__social {
      margin-top: 6px;
      height: 0;
      transition: all 0.3s ease;

      svg {
        color: #151515;
        margin-left: 12px;
        margin-bottom: 12px;
        opacity: 0;
      }
    }

    &:hover &__social,
    &:hover svg,
    &:hover img {
      height: 100%;
      opacity: 1;
      transform: scale(1);
    }

    & h4:hover {
      color: #50ba87;
    }

    svg {
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #1b3abe;
      }
    }
  }

  &__line {
    position: absolute;
    top: 50%;
    height: 1px;
    width: 100vw;
    background: #d7d7d7;
    left: 0;
  }

  &__title {
    position: relative;
    height: 20.6px;
    margin-bottom: 40px;
    overflow: hidden;

    h6 {
      color: #151515;
      text-align: center;
      font-size: 18px;
      margin-bottom: 40px;
      position: relative;
      display: block;
      background: white;
      width: fit-content;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 0 16px;
    }
  }

  img {
    width: 100%;
    transition: all 0.3s ease;

    @media screen and (min-width: 980px) {
      transform: scale(1.1);
    }
  }

  h4 {
    color: #151515;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: all 0.3s ease;
  }

  p {
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #4261e4;
    font-size: 20px;
  }

  article {
    position: relative;
    padding-bottom: 33px;
  }
}
