@import "../../scss/config";
.header{
    top: 0;
    left: 0;
    height:65px;
    width: 100%;
    position: fixed;
    z-index: 100;
    &__container{
        max-width: 1250px;
        margin: 0 auto;
        margin-top: 20px;
        background: white;
        transition: all 0.7s ease-in-out;
        box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
        z-index: 10;
    }
    &__container__scroll{
        width: 100%;
        height: 90px;
        margin-top: 0;
        transition: all 0.7s ease-in-out;
        background: linear-gradient(90deg, rgba(254,253,253,1) 0%, rgba(60,241,230,1) 56%, rgba(254,253,253,1) 100%);
    }
    &__navBar{
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
    }

    &__leftNav{
        display: flex;
    }
    &__nav{
        align-items: center;
    }
    &__navBrand{
        img{
            height: 65px;
        }
    }
    &__icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .MuiSvgIcon-root{
        font-size: 2.2em;
    }
    &__searchIcon, &__listIcon{
        color: $primary;
        margin-left: spacing(2);
        cursor: pointer;
        
    }
    &__searchIcon:hover{
        color: $textGrey;
        transition: all 0.8s ease-in-out;
    }
    &__navLink{
        margin-right: 35px;
        text-decoration: none;
        font-size: 25.5px;
        font-weight:400;
        text-align: center;
        line-height: 70px;
        color: black;
        &:hover{
            text-decoration: none;
            color:$primary;
            transition: all 0.6s;
        }
    }
}
