@import '../helpers/function';

.page-button {
  font-weight: $fwBold;
  font-size: $h7;
  background: $secondary;
  color: $textWhite;
  border-radius: 5px;
  border: 1px solid $secondary;
  padding: spacing(1.25) spacing(1.2);
  text-decoration: none;

  &:hover {
    color: $textWhite;
  }
}
