// CREATE THEME

//-----COLORS BACKGROUND------
$primary: #f7f8fa;
$secondary: #0f7c90;
$paper: #ffffff;
$light: #fbfbf7;
$darkGrey: #686f7a;
$grey: #989586;
$lightGrey: #dcdacb;
$darkGreen: #094c59;
$darkerGreen: #003640;
$yellow: #ffe799;
$lightYellow:#fbfbf8;

//-----COLORS TEXT------
$textPrimary: #29303b;
$textSecondary: #0f7c90;
$textDarkGreen: #094c59;
$textWhite: #ffffff;
$textGrey: #3c3b37;
$textDarkGrey: #73726c;
$textOrange: #be5a0e;

//-------FONT SIZE-------
$body2: 12px;
$subtitle: 14px;
$h7: 16px;
$h6: 18px;
$h5: 19px;
$h4: 24px;
$h3: 32px;
$h2: 40px;

//------FONT WEIGHT--------
$fwBold: 700;
$fwRegular: 400;

//----------SPACING---------
$spacing: 10px;