@import './themes/theme';

@import './helpers/mixin';
@import './helpers/function';

@import './Layout/footer';

@import './components/page-container';
@import './components/page-border';
@import './components/page-margin';
@import './components/page-title';

@import './Pages/about';
@import './Pages/contact';
@import './Pages/home';
@import './Pages/singleEvent';











