@import "../../scss/config";

.pageBanner {
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: spacing(5);
  overflow: hidden;
  &__image {
    width: spacing(180);
    height: spacing(60);
    background-image: url("../../Assets/img/spotlight-1-770x332.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    will-change: transform;
    animation: bannerMove 40s linear infinite;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  &::after {
    content: "";
    width: 100%;
    height: spacing(50);
    position: absolute;
    top: 0;
    left: 0;
    background: $dark;
    opacity: 0.4;
    z-index: 1;
  }
  &__text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    z-index: 3;
    h3 {
      @include Text($textWhite, spacing(5), $fwMedium, spacing(1));
      margin-bottom: spacing(5);
    }
  }
  &__subText {
    text-decoration: none;
    display: flex;
    justify-content: center;
    p {
      @include Text($textLightGrey, h3, $fwRegular, spacing(1));
      text-align: center;
    }
  }
  &__link {
    text-decoration: none;
    @include Text($textWhite, $h4, $fwRegular, spacing(1));
    margin-right: spacing(2);
    &:hover {
      text-decoration: none;
      color: $textSecondary;
      transition: all 0.5s ease;
    }
  } 
}
@keyframes #{bannerMove} {
    from {
        transform: translate3d(0,0,0) rotate(0deg);
    };

    to {
        transform: translate3d(-100px,-100px,0) rotate(0.001deg);
    }
}
